/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jakarta;
  }
}

/* TAMBAHKAN KODE SCROLLBAR DI SINI */
/* Untuk browser WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Latar belakang transparan */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* Warna thumb putih transparan */
  border-radius: 10px; /* Membuat sudut thumb membulat */
}

/* Untuk Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
